<!DOCTYPE html>
<html>
<head>
	<title> </title>
	<style>
		.color-red { color: red; }
		.color-blue { color: blue;}
		.is-loading { background: red;}
	</style>
</head>
	<body>
		<div id = "root">
			<h1> All tasks</h1>
			<ul>
				<!--
				<li v-for="task in tasks"  v-if="task.completed"v-text="task.description"> </li> -->
				<li v-for="task in tasks" v-text="task.description"> </li>
			</ul>

			<h2> Incomplete Tasks</h2>
			<ul>
				<li v-for="task in incompleteTasks" v-text="task.description"> </li>
			</ul>

		</div>
		

		<script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
	</body>

		<script>
			var app = new Vue({
				el: '#root',
				data: {
					tasks:[
						{description:'Go to the store', completed: true},
						{description: 'description2', completed: false},
						{description: 'description3', completed: false},
						{description: 'description4', completed: false},
						{description: 'description5', completed: false},
						{description: 'description6', completed: true}
					]
					},
					/*
				methods: {
					toggleClass() {
						this.isloading=true
                                  }
                           }*/

				computed: {
					incompleteTasks() {
						return this.tasks.filter(task => !task.completed);
						/*this.tasks.filter(function(task){
							return !task.completed;
						})*/
									}
							}
						
				
			});

		</script>
</html>
